 
 @media screen and (max-width: 1024px) {
     
    .menu__content {
        height: 100%;
        flex-direction: column;
     }
    .burger_menu {
         display: block;
     }
     .menu {
         display: none;
         margin: 0 auto;
         text-align: center;
         background-color: rgba(205, 214, 219, 0.3);
     }
     .item {
         margin-left: 0;
         padding: 4px 0;
     }
     .logo {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-bottom: 0;
     }
     
     .contact_us_btn {
         margin: 70px auto 0;
     }
     .header::before {
         height: 45.6%;
     }
     #header__content {
         padding: 80px 0;
     }
     .about {
         padding: 50px 0;
     }
     #title {
        margin: 0 auto 50px;
     }
     .about__title {
         margin-top: 0;
     }
     .slide_btn_2 {
         padding: 0 10px;
     }
     .bots__item {
         width: 6px;
         height: 6px;
     }
     .slide_btn  {
         font-size: 18px;
     }
     .header__title  {
         font-size: 38px;
     }
     .featured__works {
         padding: 50px 0;
     }
     .featured__images img {
         margin: 7px 0;
     }
     .our__services {
         padding: 50px 0;
     }
     .services_text {
         width: 258px;
         padding: 20px;
         line-height: 25px;
     }
     .services_title {
        padding: 20px 25px 0 25px
     }
     .learn__btn {
         margin: 0 25px;
     }
     .close__btn1, .close__btn2, .close__btn3, .close__btn4, .close__btn5, .close__btn6 {
        margin: 0 25px;
    }
    .xx {
        height: 385px;
    }
    .stars img {
        padding: 0;
    }
    .team_img_txt {
        top: 35%;
        padding: 10px;
        width: 245px;
    }
    .small__team {
        padding: 50px 0;
    }
    .what_they_say {
        padding: 50px 0;
    }
    .what_they_say_block img {
        top: 0;
    }
    .back_color img {
        width: 100%;
    }
    
 }

 @media screen and(max-width: 544px) {
     .service_mobile {
         margin-right: 0;
         margin-left: 0;
     }
 }

 @media screen and (max-width: 480px) {
    .header__title {
        font-size: 27px;
    }
    .contact_us_btn {
        width: 200px;
        font-size: 15px;
        border: 1px solid #333;
        padding: 4px 6px;
    }
    .header::before {
        height: 100%;
    }
    #header__content {
        padding: 50px 0;
    }
    .text_none span {
        display: none;
    }
    .about_mobile {
        flex-direction: column;
    }
    .bots {
        padding-bottom: 30px;
    }
    .sm_img {
        width: 100%;
    }
    .service__block3 {
        margin: 20px 0;
    }
    .what_they_say_block {
        padding: 5px;
        line-height: 16px;
    }
    .what_they_say_title {
        font-size: 18px;
    }
    .say_padding {
        padding: 15px 0;
    }
    .what_they_say {
        padding-bottom: 0;
    }
    .contact {
        padding: 50px 0;
    }
     .success {
        font-size: 14px;
        padding: 3px 5px;
        width: 220px;
    }
 }
